* {
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 50px auto;
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #898989;
    border:solid 5px black
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1px;
    
}

.column {
    width:100%;
    height: 100%;
    background-color: #ffdbfd;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.eraser {
    background-color: #ffdbfd;;
}
