* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background: repeating-linear-gradient(
        45deg,
        #201a23 0px,
        #201a23 20px,
        #2e2532 20px,
        #2e2532 40px
      );
    color: #fbfbfb
}
img {
    width:45px;
    height: 45px;
    margin: auto;
    opacity: 0.8;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: white;
    text-shadow: #422800 3px 3px;
}

#container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 925px;
    margin-top: 30px;
    padding: 10px 30px 35px 30px;
    border: solid 5px #401d2e;
    border-radius: 25px;
    background-color: #9e4770;
}

#sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#sidebar button {
    margin: 10px;
    width: 70px;
    height: 70px;
    border: solid 3px rgb(66, 40, 0);
    border-radius: 50%;
    box-shadow: rgb(66, 40, 0, 0.8) 6px 4px 0 0;
}

#sidebar button:hover {
    cursor: pointer;
    box-shadow: rgb(66, 40, 0) 6px 4px 0 0; 
}

#sidebar button:active {
    border-color: #fff;
    box-shadow: #fff 1px 1px 0 0;
    transform: translate(5px, 3px);
}

#sidebar .active {
    border-color: #fff;
    box-shadow: #fff 1px 1px 0 0;
    transform: translate(5px, 3px);
}

#button-wrapper {
    display: flex;
    margin-top: 75px;
}

#button-wrapper > div:last-child {
    margin-top: 50px;
}

.sidebar-column {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: center;
}

#grid-container {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #898989;
    border-radius: 5px;
    border:solid 7px #333333;
}

#slider-container {
    margin-top: 20px;
    font-weight: bold;
}

#slider {
    margin-bottom: 13px;
    -webkit-appearance: none;
    width: 90%;
    border-radius: 7px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: #422800;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
}

#footer {
    padding: 20px;
    background-color: #2e2532;
    border-top: solid 2px #201a23;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1px;
    
}

.column {
    width:100%;
    height: 100%;
    background-color: #e3e3e3;
}

.red {
    background-color: #ff5555;
}

.green {
    background-color: #60e660;
}

.blue {
    background-color: #4e4ec6;
}

.black {
    background-color: rgb(43, 43, 43);
}

.white {
    background-color: #ffffff;
}

.eraser {
    background-color: #e3e3e3;
}

.rainbow {
    background: rgb(255,0,0);
    background: linear-gradient(45deg, #ff5555 0 30%, #fffa72 30% 50%, #60e660 50% 70%, #4e4ec6 70% 90%);
}
