* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #201a23;
    color: #fbfbfb
}

h1 {
    margin-left: 15px;
    text-align: left;
    font-family: 'Pacifico', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #4e4e4e;
}

#container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 900px;
    margin-top: 30px;
    padding: 15px;
    border: solid 2px #2f2f2f;
    border-radius: 25px;
    background-color: #9e4770;
}

#sidebar {
    display: flex;
    justify-content: center;
}

#sidebar button {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-column {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: space-around;
}

#grid-container {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #898989;
    border:solid 3px #333333;
}

#slider-container {
    margin-top: 15px;
}

#footer {
    padding: 20px;
    background-color: #2e2532;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1px;
    
}

.column {
    width:100%;
    height: 100%;
    background-color: #e3e3e3;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.white {
    background-color: #ffffff;
}

.eraser {
    background-color: #e3e3e3;
}
